<div class='text-center'>
  <div>
    <h1>Article</h1>
  </div>
  <div>
   <h2><%= @article.title %></h2>
    <p>
      Title: <%= @article.title %>
    </p>
    <p>
      Description: <%= @article.description %>
    </p>
    <%= link_to "Back", articles_path %>
    <%= link_to "Edit", edit_article_path %>
  </div>
</div>